<div class="bg-dark p-5" id="contact-me"> 
<div class="d-flex flex-row justify-content-between align-items-center   ">

    <div class="text-light h3 fs-4" >
       <p> Get In Touch</p>
        
        <i class="fa-solid fa-address-book"></i><p class="d-inline-block">{{phone}}</p>
        <br>
        <i class="fa-solid fa-envelope"> </i><p class="d-inline-block">{{mail}}</p>
        <br>
        

    </div>

    <div class="align-self-center"><button class=" btn btn-lg rounded-0 btn-outline-light "><a>Contact Me</a></button></div>

    <div class="text-light h3 text-center ">
        My Socials
        <br/><br/>
        <i class="fa-brands fa-github p-2"></i>
        <i class="fa-brands fa-linkedin-in p-2"></i>
       <i class="fa-brands fa-facebook-f p-2"></i>
       <i class="fa-brands fa-twitter p-2"></i>

    </div>

    

       
       
    
</div>

</div>