
  <div class="bg-light d-flex p-5" >
    
    <div class="flex-row flex-shrink-0  "><h1 class="text-center">About Me</h1></div>
    <div class="flex-row offset-1  ">
      <p>
        I'm a 22 years old computer science graduate from suez canal university
        , I work as asp.net mvc backend web devolper and i'm currently switching
        my track to be a node.js backend devolper moreover working on my backend
        roadmap and sharpening my skills to become a more skilled backend devolper.
      </p>
      <br />
      <div class="text-start">
       
          <a href="mn.pdf" target="_blank" download class="btn btn-lg btn-dark rounded-0">Download Resume</a>
       
      </div>
    </div>
  </div>

