<div class="bg-dark p-5">
  <div class="text-center text-light"><h1>Skills</h1></div>
  <br />
  <p class="text-light text-center">
    I've started my programming journey with learning c/c++ language , then i
    learned object oriented programming princpals and object oriented design ,
    then i started with sql databases first oracle , sql server , mysql , then i
    switched to programming with c# language which introduced me to the .net
    framework , so i started with asp.net mvc and then after that i switched to
    node.js with express framework .
  </p>
  <br />
  <div class="d-flex p-5 bg-dark">

    <div class="vstack gap-3 text-light text-center flex-column w-auto ">
      <div>My Focus</div>
     <div class=""> <hr class=""/></div>
      <div>Database</div>
      <div>Design Patterns</div>
      <div>OOP & OOD</div>
      <div>Node.js</div>
    </div>
  

    <div class="vstack gap-3  flex-column offset-2">
      <div class="progress h-20 rounded-0">
        <div
          class="progress-bar bg-secondary w-10"
          role="progressbar"
          aria-valuenow="10"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Html
        </div>

        <div
          class="progress-bar bg-secondary bg-opacity-50 w-80"
          role="progressbar"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>

      <div class="progress h-20 rounded-0">
        <div
          class="progress-bar bg-secondary w-10"
          role="progressbar"
          aria-valuenow="10"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Database
        </div>

        <div
          class="progress-bar bg-secondary bg-opacity-50 w-80"
          role="progressbar"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>

      <div class="progress h-20 rounded-0">
        <div
          class="progress-bar bg-secondary w-10"
          role="progressbar"
          aria-valuenow="10"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Node.JS
        </div>

        <div
          class="progress-bar bg-secondary bg-opacity-50 w-80"
          role="progressbar"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>

      <div class="progress h-20 rounded-0">
        <div
          class="progress-bar bg-secondary w-10"
          role="progressbar"
          aria-valuenow="10"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          OOP
        </div>

        <div
          class="progress-bar bg-secondary bg-opacity-50 w-80"
          role="progressbar"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>

      <div class="progress h-20 rounded-0">
        <div
          class="progress-bar bg-secondary w-10"
          role="progressbar"
          aria-valuenow="10"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          OOD
        </div>

        <div
          class="progress-bar bg-secondary bg-opacity-50 w-80"
          role="progressbar"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>

      <div class="progress h-20 rounded-0">
        <div
          class="progress-bar bg-secondary w-10"
          role="progressbar"
          aria-valuenow="10"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Javascript
        </div>

        <div
          class="progress-bar bg-secondary bg-opacity-50 w-80"
          role="progressbar"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

     
  </div>

  <br />
</div>
