<div class="bg-light p-5">
  <h1 class="text-shadow">Portofolio</h1>
  <br/>

<div class="d-flex flex-wrap flex-row justify-content-evenly ">

  <div
    class="card text-white bg-secondary rounded-0 justify-content-center align-items-center"
    style="width: 300px; height: 200px"
  >
    <div class="h4">
      Frontend Devolpment
      <hr />
    </div>
</div>

    <div
    class="card text-white bg-dark rounded-0  d-flex justify-content-center align-items-center"
    style="width: 300px; height: 200px"
  >
    <div class="h4">
      UI / UX Design
      <hr />
    </div>
</div>
   
<div
class="card text-white bg-secondary rounded-0 justify-content-center align-items-center"
style="width: 300px; height: 200px"
>
<div class="h4">
  Backend Devolpment
  <hr />
</div>
</div>


</div>

<br/>
<br/>

<div class="d-flex flex-wrap flex-row justify-content-evenly ">

    <div
      class="card text-white bg-dark rounded-0 justify-content-center align-items-center"
      style="width: 300px; height: 200px"
    >
      <div class="h4">
        Database Design
        <hr />
      </div>
  </div>
  
      <div
      class="card text-white bg-secondary rounded-0  d-flex justify-content-center align-items-center"
      style="width: 300px; height: 200px"
    >
      <div class="h4">
        Responsive Web Design
        <hr />
      </div>
  </div>
     
  <div
  class="card text-white bg-dark rounded-0 justify-content-center align-items-center"
  style="width: 300px; height: 200px"
  >
  <div class="h4">
    Mobile App Development
    <hr />
  </div>
  </div>
  
  
  </div>

</div>